body{margin:0px; background:#FFF url(images.jpg) repeat-x; font-size:14px;text-align:center; color:#6b6b6b;}
*{font-family:'Arial','微软雅黑';}
input,select{color:#3f4557;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;}
table{border-collapse:collapse;}
img{border:0px;}
ul,li{list-style-type:none;}
a{text-decoration:none; color:#555;transform: translate(0,0);
transition:all .2s ease-in 0s;}
a:hover{color:#86b527;}
.clearbox{float:none;clear:both;width:0px;height:0px;overflow:hidden;}


.line{ width:100%; background:#595959; color:#CCC; height:40PX; line-height:40PX; }
.l1{ width:1200px; margin:0 auto; text-align:left}
.l2{ width:750px; float:right; line-height:30PX;}
 
.l2 a{ color:#CCC}
.l2 a:hover{ color:#86b527}

.top{width:1200px; height:150px; margin:0px auto; text-align:left;  overflow:hidden;}
.top .tt{ width:1200px;  line-height:40px; float:left; color:#FFF}
.top .tt .t1{ float:right; padding-top:8px;}
.top .logo{float:left; width:250px; height:142px; margin-TOP:10PX;}
.top .tag{float:right; width:300px; height:55px; line-height:50px; text-align:right; color:#999999; padding:30px 0px 0px 0px;  }
 
.top .menu{float:RIGHT; width:720px; height:50px; padding:25px 0px 0px 0px; }
.menu li{float:left; width:120px; line-height:50px; height:50px; font-size:15px; text-align:center; color:#555}
.menu li ul{ position:absolute; z-index:999; background:#555; font-weight:lighter; }
.menu li li{width:120px; height:35px; line-height:35px; float:none;  font-size:14px; text-align:center; border-bottom:#666 solid 1px }
.menu li li a{display:block; width:100%; height:100%; color:#fff; display:block;}
.menu li li a:hover{ width:100%; height:100%;  color:#fff; background:#86b527; border-bottom:0PX  }

.menu li a{display:block; width:100%; height:100%; color:#555; display:block; }
.menu li a:hover{ width:100%; height:100%;  color:#86b527;     }



.menu li ul{margin:0px 0px 0px 0px;  }
*html .menu li ul{margin:0px 0px 0px 0px;}
*+html .menu li ul{margin:0px 0px 0px 0px;}

.menu li li ul{position:absolute; z-index:9999; background:#fff none repeat scroll 0 0 !important; margin:-31px 0px 0px 150px;   }
 

.banner{width:100%; height:700px; text-align:left; overflow:hidden; background:#86b527  }
#index_banner{width:100%; height:700px; padding:0; margin:0 auto; background:none; position:relative; z-index:10; overflow:hidden;}
#index_banner_con{width:100%; height:100%; margin:0 auto; overflow:hidden; text-align:center;}
#index_banner_list{width:100%; height:100%;}
#index_banner_list li{width:100%; height:100%;}
#index_banner_list li a{width:100%; height:100%; display:block; background:no-repeat top center; text-indent: -9999px;transition: all 0.6s; }
#index_banner_list li a:hover{transform: scale(1.05); }


#prev_btn{position:absolute; z-index:101; left:0px; top:300px;}
#next_btn{position:absolute; z-index:101; right:0px; top:300px;}
#banner_nav{position:absolute; z-index:1002; left:47.1%; top:0px; margin-top:670px;}
#banner_nav a{float:left; display:block; width:10px; height:10px; border-radius:20px; background:#ffffff; margin-left:20px;  }
#banner_nav a:hover{background:#86b527;}
#banner_nav a.this{background:#86b527;}


 

.content{width:1200px; padding:40px  0px 0px 0px; margin:0px auto; text-align:left; height:450px;}
.c01{float:left; width:1200px;}
.c01 .pro{ width:380px; float:left}
 

.about{ margin:0px auto; width:1200px;  }
.about .cont{ width:640px;  text-align:left; float:left;  padding-top:50px; font-size:14px; color:#999; line-height:25px; }
.about .acon{ width:650px; float:left; text-align:left; color:#555}
 
 
 
.more{  margin-top:0px;  } 
.more a{ display:block;  font-size:20px;     width:30px; color:#fff; line-height:30px; text-align:center; background:#86b527; transition:background 0.5s,color 0.5s;-webkit-transition:background 0.5s,color 0.5s;  }
.more a:hover{ display:block;    width:30px; color:#fff;  background:#888;   text-align:center }


.more1{  margin-top:0px;  } 
.more1 a{ display:block;  font-size:20px;     width:30px; color:#86b527; line-height:30px; text-align:center; background:#FFF; transition:background 0.5s,color 0.5s;-webkit-transition:background 0.5s,color 0.5s;  }
.more1 a:hover{ display:block;    width:30px; color:#fff;  background:#ccc;   text-align:center }


.tt{ width:1200px; float:left; font-size:30px; color:#000; text-align:left; padding-top:70px;}

.SZ{ width:100%; background:#f6f6f6 url(../images/bg2.jpg) center top no-repeat; height:580PX; margin:0 auto; padding:0px  0px 0px 0px;}
.brand{ width:1200px; height:300px; margin:0 auto;  }



.prolist{width:930px; float:left }
.prolist li{float:left; width:310px;   height:250px; text-align:center; line-height:40px;}
.prolist li a{display:block; width:280px;    color:#666666;}
.prolist li a:hover{color:#ca4b00;      }
.prolist li img {width:240PX; height:240px;box-shadow:  0px 8px 10px rgba(0,0,0,.1);transition: all 0.5s; }
.prolist li img:hover{transform: scale(1.1);}

 

.DT{ width:1200px; margin:0 auto; height:840px;}
.D01{ width:500px; height:580px; background:#f6f6f6;margin:50px auto; float:left   }

.D01 .Dimg{    width:439px; height:272px; position: relative; overflow: hidden;  cursor: pointer; margin:32PX;  }
.Dimg a img{   width:439px; height:272px; transition: all 0.5s;}
.Dimg a:hover img{ width:480px; height:297px;  margin:-10px 0 0 -10px}
.ncont{ width:435px; float:left; margin:10px auto; text-align:left; margin-left:32px;}

.cont01{width:410px; border-left:1px solid #CCC; padding-left:30px; line-height:25px;color:#999; margin-top:30px;}


.D02{ width:630PX; margin-left:50PX; margin-top:55px;text-align:left;font-size:14px; float:left}
.D02 li{width:95.5%;  line-height:45px; height:190px; border-bottom:2px #eee solid; padding-left:50px; background:url(../images/i03.jpg) 5px 55px no-repeat }
.D02 a{color:#666666;}
.D02 a:hover{color:#86b527; }
.D02 span{float:right; color:#ccc; padding-right:10px; font-size:16px}




.news{ width:1200PX; margin:0px auto; margin-top:60px; height:580px;}
.n01{ margin:40px auto; width:270px; height:320px;   color:#666;      float:left; text-align:left; border-bottom:1px solid #cddfa9;  transform: translate(0,0);
transition:all .2s ease-in 0s;}
.n01:hover{border-bottom:2px solid #FFF; height:330px; padding-top:5px; }

.n01 .nimg{    width:270px; height:270px; position: relative; overflow: hidden;  cursor: pointer;    }
.nimg a img{   width:270px; height:270px; transition:width 0.5s,height 0.5s,margin 0.5s;-webkit-transition:width 0.5s,height 0.5s,margin 0.5s;}
.nimg a:hover img{ width:320px; height:320px;  margin:-30px 0 0 -20px}

.news A{ color:#FFF}
.news A:hover{ color:#eee}
 
 
 
.wmap { float:left; width:100%; background:#f4f4f4; padding-top:30px; line-height:20px;   color:#000;text-align:left; font-size:16px}
 
.wmap a:hover{filter:alpha(opacity:80); opacity:0.8;  -moz-opacity:0.8;-khtml-opacity: 0.8}

.bb{ width:100%; background:#333}
.bottom{clear:both; width:1200px; height:32px; color:#FFF; text-align:left; margin:0px auto; }
.bottom .nav{ text-align:left; width:1200px; line-height:32px; font-size:12px; color:#9f9f9f}
.bottom .copyright{float:right; line-height:32px; font-size:12px; color:#9f9f9f }

