/* 分页样式 */
.page { padding:10px 5px; font-family:'宋体'; text-align:center; font-size:12px; line-height:34px; }
.page ul { margin:0px; padding:0px;}
.page ul li { display:inline; text-align:center;}
.page ul li a,.page ul li span,.page ul li span.pageinfo { display:inline-block; margin: 0; color:#666;text-align: center; line-height: 20px;border: solid 1px #d6d6d6; border-radius: 0.2rem;padding: 0.5rem 0.9rem;}
/*.page ul li span { color:#ff8f00;}*/
.page ul li a:hover { color: #fdfdfd;
    background-color: #86b527;
    border: solid 1px #86b527;}
.page ul li .current { color: #fdfdfd;
    background-color: #86b527;
    border: solid 1px #86b527;}

f00;}

