body{margin:0px; background:#FFF; font-size:14px;text-align:center; color:#555;}
*{font-family:'Arial','微软雅黑';}
input,select{color:#3f4557;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;}
table{border-collapse:collapse;}
img{border:0px;}
ul,li{list-style-type:none;}
a{text-decoration:none; color:#555;transform: translate(0,0);
transition:all .2s ease-in 0s;}
a:hover{color:#86b527;}
.clearbox{float:none;clear:both;width:0px;height:0px;overflow:hidden;}


.line{ width:100%; background:#595959; color:#CCC; height:40PX; line-height:40PX; font-size:14px }
.l1{ width:1200px; margin:0 auto; text-align:left}
.l2{ width:720px; float:right; line-height:20PX;}
 
.l2 a{ color:#CCC}
.l2 a:hover{ color:#86b527}

.top{width:1200px; height:150px; margin:0px auto; text-align:left;  overflow:hidden; background:#FFF}
.top .tt{ width:1200px;  line-height:40px; float:left; color:#FFF}
.top .tt .t1{ float:right; padding-top:8px;}
.top .logo{float:left; width:250px; height:142px; margin-TOP:10PX;}
.top .tag{float:right; width:300px; height:55px; line-height:50px; text-align:right; color:#999999; padding:30px 0px 0px 0px;  }
 
.top .menu{float:RIGHT; width:720px; height:50px; padding:25px 0px 0px 0px; }
.menu li{float:left; width:120px; line-height:50px; height:50px; font-size:15px; text-align:center; color:#555}
.menu li ul{ position:absolute; z-index:999; background:#555; font-weight:lighter; }
.menu li li{width:120px; height:35px; line-height:35px; float:none;  font-size:14px; text-align:center; border-bottom:#666 solid 1px }
.menu li li a{display:block; width:100%; height:100%; color:#fff; display:block;}
.menu li li a:hover{ width:100%; height:100%;  color:#fff; background:#86b527; border-bottom:0PX  }

.menu li a{display:block; width:100%; height:100%; color:#555; display:block; }
.menu li a:hover{ width:100%; height:100%;  color:#86b527;     }



.menu li ul{margin:0px 0px 0px 0px;  }
*html .menu li ul{margin:0px 0px 0px 0px;}
*+html .menu li ul{margin:0px 0px 0px 0px;}

.menu li li ul{position:absolute; z-index:9999; background:#fff none repeat scroll 0 0 !important; margin:-31px 0px 0px 150px;   }


.banner{ width: 100%;height:300px; margin:0 auto; position:relative; text-align:center;   }
.banner p{ width:180px; height:200px; font-size:40px;   color:#FFF; border-bottom:2px solid #FFF; margin:0 auto; padding-top:50px;  }
.banner i{ font-size:16px; filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;} 
 
 
.about, .news, .product{margin-top:30px;}
.about .anav, .news .anav{width:100%; text-align:center; display:inline-block}
.about .anav li, .news .anav li{text-align:center; display:inline-block; margin:15px 5px;}
.about .anav li a, .news .anav li a{border:1px solid #eee; padding:10px 35px; font-size:16px; color:#333;} 
.about .anav li a:hover, .news .anav li a{ background:#86b527; color:#FFF;  } 
.about .anav li a.cur{ background:#86b527; color:#FFF;  } 



.content{width:1200px; padding:40px 0px 0px 0px; margin:0px auto; text-align:left;}
 
.right{float:left; width:1200px; padding-top:20px;}
.right .tt{width:1200px; height:40px;  text-align:center; }
.right .tt strong{font-size:30px; font-weight:normal;line-height:35px; color:#86b527}
.right .tt p{ font-size:14px; color:#CCC}

.right .cont{width:1200px; padding-top:30px ; line-height:10px;font-size:14px;}
.right .cont .article{text-align:left; line-height:25px;}
 
 

.article{ padding-top:30px; width:1200px; line-height:35px; font-size:16px}

.honer{width:1200px; padding-top:50PX}
.honer li{float:left; width:22%; padding-left:3%; height:180px; text-align:center; line-height:24px;}
.honer li a{display:block; width:210px; padding-top:5px; border:0px #dddddd solid; background:#fff; color:#666666;}
.honer li a:hover{color:#999;}
.honer li img{width:200px; height:130px;}

/*.page{width:1200px; height:34px; text-align:center; clear:both;padding-top:25px;background:#eff3f6;}

.prolist{width:100%; padding-top:50px; }
.prolist li{float:left; width:235px;   height:270px; text-align:center; line-height:40px;}
.prolist li a{display:block; width:210px;    color:#666666;}
.prolist li a:hover{color:#86b527;  }
.prolist li img{width:210px; height:210px;  }*/


.prolist .pp{   width:210px; height:210px; position: relative; overflow: hidden;  cursor: pointer;  -webkit-box-shadow:0 0 20px #ccc;   -moz-box-shadow:0 0 10px #ccc;   box-shadow:0 0 10px #ccc; }
.pp a img{  width:210px; height:210px;  transition:width 0.5s,height 0.5s,margin 0.5s;-webkit-transition:width 0.5s,height 0.5s,margin 0.5s;}
.pp a:hover img{ width:230px; height:230px;  margin:-10px 0 0 -10px}

.product{width:1200px; margin:0 auto; height:}
.product .t{width:1200px; text-align:left; margin-top:20px; line-height:70px;font-size:25px;color:#86b527;}
.product .t strong{font-size:30px;  }
.product .p{width:1200px; padding-top:10px; line-height:24px; border-bottom:1px #cdcdcd dashed; text-align:left; }
.product .i{width:1200px; margin:0 auto;  text-align:left; }
.product .i .left{ float:left; width:550px;}
.product .big{width:500px; padding:10px 0px;}
.product .big img{width:500px; text-align:center; border:#CCC 1px solid}


.product .small {  padding-bottom:10px; }
.product .small a{margin:5px 3px; float:left; border:1px #eee solid}
.product .small a:hover{border:2px #0d71a3 solid}


.product .small img{width:92px;}
.product .i .right{ float:left; width:500px; text-align:left; font-size:14px}
.product .n{width:100%; height:40px; background:#fff; margin-top:50px;}
.product .n li{float:left;}
.product .n a{display:block; width:270px; height:40px; line-height:40px; border-right:1px #ffffff solid; background:#eee; text-align:center; color:#666666;}
.product .n a:hover{background:#006856; color:#ffffff;}
.product .n .cur{background:#006856; color:#ffffff;}
.product .c{clear:both; width:90%; height:600px; margin-left:30PX; margin-TOP:40PX; line-height:30px; text-align:left; font-size:14px}

.fb{width:100%; padding-top:10px; border-top:1px #cdcdcd solid;}
.fb td{height:30px;}
.fb .txt{width:300px;}
.fb .ta{width:365px; height:110px; margin-right:10px;}

.job{width:100%;line-height:40px;}
.job table{width:100%;}
.job td{height:24px;}
.job .tdl{width:10%; text-align:right; padding-right:0;}
.job .tdr{width:39%; text-align:left;}
.job .tdr2{width:89%; text-align:left;}
.job .txt{width:200px;}
.job .txt2{width:580px;}
.job .ta{width:580px; height:100px;margin:10px;}

.news{ background:#fff; width:100%; overflow:hidden; padding:30px 0; transition:background 0.5s;-webkit-transition:background 0.5s; border-bottom:1px solid #eee}
.news:hover{ background:#f6f6f6;}
.news .a1{ width:1200px; margin:0 auto;}
.news .a1 .b0{ display:block; width:385px; height:238px; float:left; overflow:hidden;}
.news .a1 .b0 a img{width:385px; height:238px; transition:width 0.5s,height 0.5s,margin 0.5s;-webkit-transition:width 0.5s,height 0.5s,margin 0.5s;}
.news .a1 .b0 a:hover img{width:450px; height:278px; margin:-20px 0 0 -32px}
.news .a1 .b1{ float:right; width:700px; padding-top:10px;}
.news .a1 .b1 .c1 a{ float:left; font-size:20px; color:#000; line-height:50px; text-align:left; width:700PX; transition:color 0.5s;-webkit-transition:color 0.5s;}
.news .a1 .b1 .c1 a:hover{ color:#86b527;}
.news .a1 .b1 .c2{ color:#999; text-align:left; font-size:14px; line-height:25px;  }
.news .a1 .b1 .c3{ line-height:40px; text-align:left; color:#CCC}
.news .a1 .b1 .c4{ margin-top:10px;}
.news .a1 .b1 .c4 a{ display:block;   width:100px; line-height:30px; border:#86b527 1px solid; color:#86b527; text-align:center;   transition:background 0.5s,color 0.5s;-webkit-transition:background 0.5s,color 0.5s;}
.news .a1 .b1 .c4 a:hover{ background:#86b527; color:#fff;}
#news1{ width:100%; overflow:hidden; background:#fff; border-top:solid 1px #eee;}

.rec{width:100%;}
.rec table{border-bottom:1px #b4bdc3 solid; width:100%; margin-bottom:10px;}
.rec td{font-size:12px;}
.rec .trh td{border:1px #bacad9 solid; background:#a0b5ca; color:#ffffff; text-align:center; height:24px; line-height:24px; font-weight:bold;}
.rec .trh2 td{border:1px #bacad9 solid; background:#eeeeee; color:#738191; text-align:center; height:24px; line-height:24px; font-weight:bold;}
.rec .trl td{border:1px #bacad9 solid; background:#f5f5f5; color:#738191; text-align:center; height:24px; line-height:24px;}
.rec .trl2 td{border:1px #bacad9 solid; background:#f5f5f5; color:#738191; text-align:center; height:30px; line-height:30px;}
.rec .trh3 td{border:1px #bacad9 solid; background:#ffffff; color:#738191; text-align:center; height:24px; line-height:24px; font-weight:bold;}
.rec .trl3 td{border:1px #bacad9 solid; background:#ffffff; color:#738191; text-align:left; line-height:30px;}
.rec .text{border:1px #bacad9 solid; background:#ffffff; color:#738191; width:96%; padding:2%; line-height:20px; text-align:left;}
.rec .text p{color:#738191;}
.rec a{color:#38698a; text-decoration:underline;}
.rec a:hover{color:#38698a;}

.can{width:100%;}
.can td{border:1px #bacad9 solid; height:24px; font-size:12px;}
.can .tdh{width:100%; text-align:center; background:#a0b5ca; color:#ffffff;}
.can .tdl{width:20%; background-color:#f5f5f5; text-align:right;}
.can .tdr{width:30%; background-color:#ffffff; text-align:left;}
.can .tdr2{width:80%; background-color:#ffffff; text-align:left;}
.can .tdb{width:100%; text-align:center; background-color:#f3f5f8;}
.can .txt{width:215px; height:14px;}
.can .txt2{width:579px; height:14px;}
.can .ddl{width:191px;}
.can .ta{width:579px; height:100px;}

.feedback{width:100%;}
.feedback table{width:100%;}
.feedback td{height:24px;line-height:24px;}
.feedback .tdl{width:10%; text-align:right; padding-right:1%;}
.feedback .tdr{width:39%; text-align:left;}
.feedback .tdr2{width:89%; text-align:left;}
.feedback .txt{width:240px;}
.feedback .txt2{width:593px;}
.feedback .ta{width:591px; height:100px;}


.newslist2{width:85%; float:right; padding-top:20px; }
.newslist2 li{width:95%; padding-left:3%; line-height:30px; background:url(icon.jpg) 0px 10px no-repeat; font-size:14px;}
.newslist2 a{color:#888;  }
.newslist2 a:hover{ color:#86b527;  }
.newslist2 span{float:right; color:#999999;}


.container {
 
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 0.2rem;
  counter-reset: pagination;
  text-align: center;
}
.container:after {
  clear: both;
  content: "";
  display: table;
}
.container ul {
  width: 100%;
}

 
.middle {
  width: 32rem;
}

 
 
.pagination li {
  counter-increment: pagination;
}
.pagination li:hover a {
  color: #fdfdfd;
  background-color: #86b527;
  border: solid 1px #86b527;
}
.pagination li.active a {
  color: #fdfdfd;
  background-color: #86b527;
  border: solid 1px #86b527;
}
.pagination li:first-child {
  float: left;
}
.pagination li:first-child a:after {
  content: "Previous";
}
.pagination li:nth-child(2) {
  counter-reset: pagination;
}
.pagination li:last-child {
  float: right;
}
.pagination li:last-child a:after {
  content: "Next";
}
.pagination li a {
  border: solid 1px #d6d6d6;
  border-radius: 0.2rem;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.7rem 0.9rem;
}
.pagination li a:after {
  content: " " counter(pagination) " ";
}

 
.middle li a {
  display: none;
}
.middle li:first-child a {
  display: inline-block;
}
.middle li:first-child a:after {
  content: "<";
}
.middle li:last-child a {
  display: inline-block;
}
.middle li:last-child a:after {
  content: ">";
}
.middle li:nth-child(2) a {
  display: inline-block;
}
.middle li:nth-child(3) a {
  display: inline-block;
}
.middle li:nth-child(4) a {
  display: inline-block;
}
.middle li:nth-child(5) a {
  display: inline-block;
}
.middle li:nth-last-child(2) a {
  display: inline-block;
}
.middle li:nth-last-child(3) {
  display: inline-block;
}
.middle li:nth-last-child(3):after {
  padding: 0 1rem;
  content: "...";
}
